.definition-text{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
}

.definition-text h2 {
  font-size:  1.8rem;
  font-weight: 400;
  align-self: center;
}

.definition-text cite {
  font-size: 1.35rem;
  align-self: flex-end;
}

.definition-text p{
  font-family: 'Caveat', cursive;
  color: rgb(255, 0, 0);
  position: absolute;
  font-size: 2.35rem;
  top: 58%;
  right: 20%;
}

.definition-text p span{
  font-size: 3rem;
}